<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="row nav-row">
      <div class="nav-logo col">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-logo"><img src="icons/menu.svg" alt="menu" width="30"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="icons/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Nestora
        </a>
      </div>
      <div class="nav-icons col">
        <div class="favourite-button"><img src="icons/heart.svg" alt="heart"></div>
        <div class="user-button"><img src="icons/user.svg" alt="user"></div>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>

  </div>
</nav>
<main>
    <div class="search-page">
      <div class="search-page-header">
        <h2>Find a place you'll <br> <span>love to call home.</span></h2>
        <p>Explore over 18,500+ verified luxury villas, penthouses, and seaside retreats across US's most coveted master developments.</p>
      </div>
      <form>
        <div class="contract-type">
          <label class="contract-option">
            <input type="radio" name="property" value="apartment">
            <span>Buy</span>
          </label>
          <label class="contract-option">
            <input type="radio" name="property" value="apartment">
            <span>Rent</span>
          </label>
        </div>
        <div class="search-page-location search-input">
          <input type="text" name="" id="location" placeholder="Select a city">
        </div>
        <div class="search-page-property-type search-input">
          <select name="" id="">
            <option value="man">Stand-alone Villa</option>
            <option value="man">Sky Penthouse</option>
            <option value="man">Townhouse</option>
            <option value="man">Beachfront Chalet</option>
            <option value="man">Duplex Residence</option>
          </select>
        </div>
        <div class="search-page-price search-input">
          <select name="" id="">
            <option value="man">$250,000 - $500,000</option>
            <option value="man">$500,000 - $750,000</option>
            <option value="man">$750,000 - $1,000,000</option>
            <option value="man">Under $250,000</option>
          </select>
        </div>
        <div class="search-button">
          <div class="input-wrapper">
            <input type="submit" value="">
          </div>
        </div>
        <div class="custom-select">
          <button>Apartment</button>
          <div class="options">
            <div>Apartment</div>
            <div>Villa</div>
            <div>Office</div>
          </div>
        </div>
      </form>
    </div>
</main>

