<nav class="navbar navbar-expand-md  bg-white">
  <div class="container-fluid">
    <div class="row nav-row">
      <div class="nav-logo col">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-logo"><img src="icons/menu.svg" alt="menu" width="30"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="icons/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Nestora
        </a>
      </div>
      <div class="nav-icons col">
        <div class="search-button" (click)="searchButton = !searchButton">
          <img src="icons/search.svg" alt="search">
        </div>
        <div class="favourite-button"><img src="icons/heart.svg" alt="heart"></div>
        <div class="user-button"><img src="icons/user.svg" alt="user"></div>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>

  </div>
</nav>
<main>
  
</main>
 @if(searchButton){
  <div class="search-page-cnt">
    <div class="search-page">
      <form>
        <div class="search-page-header">
          <h2>Find the right property for you.</h2>
          <img class="close-search-page" (click)="searchButton = !searchButton" src="icons/close.svg" alt="close" >
        </div>
        <div class="contract-type">
          <label class="contract-option">
            <input type="radio" name="property" value="apartment">
            <span>Buy</span>
          </label>
          <label class="contract-option">
            <input type="radio" name="property" value="apartment">
            <span>Rent</span>
          </label>
        </div>
        <div class="search-page-location">
          <input type="text" name="" id="location" placeholder="Select a city">
        </div>
        <div class="search-page-property-type">
          <select name="" id="">
            <option value="man">Stand-alone Villa</option>
            <option value="man">Sky Penthouse</option>
            <option value="man">Townhouse</option>
            <option value="man">Beachfront Chalet</option>
            <option value="man">Duplex Residence</option>
          </select>
        </div>
        <div class="search-page-price">
          <select name="" id="">
            <option value="man">$250,000 - $500,000</option>
            <option value="man">$500,000 - $750,000</option>
            <option value="man">$750,000 - $1,000,000</option>
            <option value="man">Under $250,000</option>
          </select>
        </div>
      </form>
    </div>
  </div>
}